<div>
    <h2>付近の落とし物情報</h2>
    <% if @map_items.present? %>
    <p>詳細<p>
        <ul class="sample1">
        <% n = 0 %>
            <% map_items.permit!.to_hash.each do |items| %>
                <li><%= raw("名前【#{items[1]["name"]}】<br/>
               登録された場所【#{items[1]["address"]}】") %></li>
           <%= link_to "詳細ページへ", item_path(items[1]["id"]) , class: "btn" %>

                <% n += 1%>

            <% end %>
        </ul>
    <!-- 初期では↓が表示され、ajaxで↑を表示する -->
    <% else %>
        <p>このコメントが表示される場合は再度読み込みを行なってください</p>
        <p>読み込みエラー javascriptを確認してください</p>
        <div class="col-sm-4">
        </div>
        <a href="javascript:void(0)" type="button" id="id_submit" class="btn btn-save"><i class="material-icons">save</i>ajax!</a>
    <% end %>
</div>